[data-pie-menu] {
    position: fixed;
    left: var(--pie-x, 0);
    top: var(--pie-y, 0);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    pointer-events: auto;
    width: 275px;
    height: 275px;
    border-radius: 100%;
    z-index: 5;
    touch-action: none;
    user-select: none;
    opacity: 1;
    transform: translate(-50%, -50%); 
    animation: appear 250ms both;
}

[data-pie-menu] > ul {
    pointer-events: auto;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    list-style: none;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
    position: relative;
    user-select: none;
}

[data-pie-kind="bubble"] [data-pie-item-content] {
    transition: 0.3s;
}


[data-pie-kind="bubble"] [data-pie-item] {
    background: none;
}

[data-pie-kind="bubble"] [data-pie-item-active] > * > *{
    transition: 250ms;
}

[data-pie-kind="bubble"] [data-pie-item-active]:hover > * > *{
    transform: scale(1.25);
}


[data-pie-label] {
    font-weight: bold;
    position: absolute;
    height: 32%;
    width: 32%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
    background-color: white;
    z-index: 10;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
}

[data-pie-item] {
    --pie-item-rotation: calc(var(--pie-item-angle) * var(--pie-item-index));
    --pie-item-skew: calc(90deg - var(--pie-item-angle));
    transform: rotate(var(--pie-item-rotation)) skew(var(--pie-item-skew));
    pointer-events: auto;
    list-style: none;
    user-select: none;
    position: absolute;
    bottom: 50%;
    right: 50%;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: 100% 100%;
    overflow: hidden;
    transition: background 250ms ease 0s;
    background-color: aliceblue;
}

[data-pie-item-content] {
    min-height: 32px;
    min-width: 32px;
    display: block;
    transform: translate(40%, 40%) skew(calc(var(--pie-item-skew) * -1)) rotate(calc(var(--pie-item-rotation) * -1));
}

[data-pie-item-active="true"] {
    background-color: rgb(189, 189, 157);
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}