.content {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.circle {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.demo {
  position: absolute;
  height: 50vh;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2em;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
